@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom styles below */

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #C7B3EE;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #766a94;
}

/* Hides the up and down arrows on the scrollbar */
::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #C7B3EE transparent;
}